<div class="row">
  <div class="col-md-6">
    <h1>Blood Sugar</h1>
    <h2>Blood Sugar Value</h2>
    <p><%= @employee_check.blood_sugar %> mmol/l</p>
    <h2>Rating</h2>
    <p><%= @employee_check.get_blood_sugar_rating %></p>
    <h2>Summary</h2>
    <p>Blood sugar or glucose is a measure of how much sugar is being carried in the bloodstream. High blood sugar over a period of time may lead to conditions such as type 2 diabetes. This is often due to excess body fat, lack of physical activity and a diet containing high sugar carbohydrates.    
    </p>   
  </div>
  <div class="col-md-6">
    <h1>Goals and Motivation</h1>
      <%= f.input :blood_sugar_goal_1, label: "Goal 1" %>
      <%= f.input :blood_sugar_goal_2, label: "Goal 2" %>
      <%= f.input :blood_sugar_goal_3, label: "Goal 3" %>
      <%= f.input :blood_sugar_motivation, as: :select, collection: [1,2,3,4,5,6,7,8,9,10], label: "Motivation" %>
  </div> 
</div>

<hr />
