<div class="row">
  <div class="col-md-6">
    <h1>Blood Pressure</h1>
    <h2>Systolic BP</h2>
    <p><%= @employee_check.systolic %> mmHg</p>
    <h2>Diastolic BP</h2>
    <p><%= @employee_check.diastolic %> mmHg</p>
    <h2>Rating</h2>
    <p><%= @employee_check.get_blood_pressure_rating %></p>    
    <h2>Summary</h2>
    <p>Blood pressure is the measure of the force that the heart needs to pump the blood around the body. There are two different measures of pressure. Systolic measures the pumping or beating phase of the heart. Diastolic measures the relaxation phase when the heart is filling up with blood.</p>
    <p>Blood pressure can vary throughout the day and can be affected by stress levels, smoking and caffeine intake. High BP put increased strain on the heart and may lead to heart attacks or strokes</p>
  </div>
  <div class="col-md-6">
    <h1>Goals and Motivation</h1>
      <%= f.input :bp_goal_1, label: "Goal 1" %>
      <%= f.input :bp_goal_2, label: "Goal 2" %>
      <%= f.input :bp_goal_3, label: "Goal 3" %>
      <%= f.input :bp_motivation, as: :select, collection: [1,2,3,4,5,6,7,8,9,10], label: "Motivation" %>
  </div> 
</div>

<hr />

<div class="row">
  <div class="col-md-6">
    <h1>Resting Heart Rate</h1>
    <h2>Resting Heart Rate</h2>
    <p><%= @employee_check.resting_hr %> bpm</p>
    <h2>Rating</h2>
    <p><%= @employee_check.get_resting_heart_rate_rating %></p>
    <h2>Summary</h2>
    <p>The number of times your heart beats in one minute when you are at complete rest. The fitter you are the less times your heart has to beat to pump the blood around your body.</p>   
  </div>
  <div class="col-md-6">
    <h1>Goals and Motivation</h1>
      <%= f.input :rhr_goal_1, label: "Goal 1" %>
      <%= f.input :rhr_goal_2, label: "Goal 2" %>
      <%= f.input :rhr_goal_3, label: "Goal 3" %>
      <%= f.input :rhr_motivation, as: :select, collection: [1,2,3,4,5,6,7,8,9,10], label: "Motivation" %>
  </div> 
</div>

<hr />
