<div class="row">
  <div class="col-md-6">
    <h1>Body Mass Index</h1>
    <h2>BMI Value</h2>
    <p><%= @employee_check.get_bmi %></p>
    <h2>Rating</h2>
    <p><%= @employee_check.get_bmi_rating %></p>
    <h2>Summary</h2>
    <p>The Body Mass Index (BMI) rating is an indicator of total body composition, or body weight. It is calculated by dividing your weight (kg) by your height in meters squared. A healthy BMI for an adult is between 18.5 and 25.</p>
    <p>BMI calculations will be overestimated for people with high muscle mass, very active people and pregnant women so this may not reflect a healthy weight as BMI does not differentiate between body fat and muscle weight.</p>
  </div>

  <div class="col-md-6">
    <h1>Goals and Motivation</h1>
      <%= f.input :bmi_goal_1, label: "Goal 1" %>
      <%= f.input :bmi_goal_2, label: "Goal 2" %>
      <%= f.input :bmi_goal_3, label: "Goal 3" %>
      <%= f.input :bmi_motivation, as: :select, collection: [1,2,3,4,5,6,7,8,9,10], label: "Motivation" %>
  </div>  
</div>
<hr />

<% if @employee_check.body_fat.present? %>
<div class="row">
  <div class="col-md-6">
    <h1>Body Fat</h1>
    <h2>Body Fat Value</h2>
    <p><%= @employee_check.body_fat %>%</p>
    <h2>Rating</h2>
    <p><%= @employee_check.get_total_body_fat_rating %></p>
    <h2>Summary</h2>
    <p>Body fat % is the amount of body fat as a proportion of your total body weight. Lower levels of body fat can reduce the risk of certain conditions such as high blood pressure and type 2 diabetes.</p>   
  </div>
  <div class="col-md-6">
    <h1>Goals and Motivation</h1>
      <%= f.input :body_fat_goal_1, label: "Goal 1" %>
      <%= f.input :body_fat_goal_2, label: "Goal 2" %>
      <%= f.input :body_fat_goal_3, label: "Goal 3" %>
      <%= f.input :body_fat_motivation, as: :select, collection: [1,2,3,4,5,6,7,8,9,10], label: "Motivation" %>
  </div> 
</div>
<% end %>

<hr />


