<div class="row">
  <div class="col-md-6">
    <h1>Cholesterol</h1>
    <% if @employee_check.has_total_cholesterol %>    
      <h2>Total Cholesterol</h2>
      <p><%= @employee_check.total_cholesterol %> mmol/l</p>
      <h2>Rating</h2>
      <p><%= @employee_check.get_total_cholesterol_rating %></p>
      <h2>Summary</h2>
      <p>Cholesterol is a waxy substance which is made in the body by the liver. It is also found foods such as meat, seafood and dairy products. It is vital for various functions in the body such as cell growth and nerve insulation. Too much cholesterol in the body can increase your risk of cardio vascular conditions such as heart attack or stroke.</p>
    <% end %>
    <% if @employee_check.has_hdl_cholesterol %>
      <h2>HDL Cholesterol</h2>
      <p><%= @employee_check.hdl_cholesterol %> mmol/l</p>    
      <h2>Rating</h2>
      <p><%= @employee_check.get_hdl_cholesterol_rating %></p>
      <h2>Summary</h2>
      <p>HDL (high density lipoprotein) is often referred to as the “good cholesterol”. This is due to its protective nature as it transports away the bad cholesterol in the blood. It is found in foods such as salmon, olive oil and nuts.</p>
    <% end %>
    <% if @employee_check.has_ldl_cholesterol %>
      <h2>LDL Cholesterol</h2>
      <p><%= @employee_check.ldl_cholesterol %> bpm</p>
      <h2>Total/HDL Ratio</h2>
      <p><%= @employee_check.get_total_cholesterol_hdl_ratio_rating %></p>
      <h2>Summary</h2>
      <p>LDL (low density lipoprotein) is referred to as the “bad cholesterol”. It is found in processed foods such as cakes, biscuits and refined meats such as sausages.</p>    
    <% end %>
  </div>
  <div class="col-md-6">
    <h1>Goals and Motivation</h1>
      <%= f.input :total_cholesterol_goal_1, label: "Goal 1" %>
      <%= f.input :total_cholesterol_goal_2, label: "Goal 2" %>
      <%= f.input :total_cholesterol_goal_3, label: "Goal 3" %>
      <%= f.input :total_cholesterol_motivation, as: :select, collection: [1,2,3,4,5,6,7,8,9,10], label: "Motivation" %>
  </div> 
</div>

<hr />
