<% breadcrumb :employee_check, @location %>

<%= render 'shared/progress' %>

<%= simple_form_for @employee_check, url: wizard_path do |f| %>
  <%= f.error_notification %>
  <%= f.association :ethnic_code, required: true %>
  <%= f.association :department, collection: @location.departments, required: true %>
  <%= f.input :full_part_time, as: :radio_buttons, collection: [['Full Time', :full_time], ['Part Time', :part_time]], required: true %>
  <%= f.input :smoker, as: :radio_buttons, required: true %>
  <%= f.input :past_assessment, label: 'Have you had a Let’s Get Healthy health assessment?', as: :radio_buttons, required: true %>
  <hr />
  <%= link_to 'Previous', edit_location_employee_check_path(@location, @employee_check), class: 'btn btn-primary' %>
  <%= f.submit 'Next', class: 'btn btn-success pull-right' %>
<% end %>
