<% breadcrumb :employee_check, @location %>

<%= render 'shared/progress' %>
<%= simple_form_for @employee_check, url: wizard_path do |f| %>
  <%= f.error_notification %>
  <%= f.input :systolic, label: 'Systolic Blood Pressure (mmHg)', required: true %>
  <%= f.input :diastolic, label: 'Diastolic Blood Pressure (mmHg)', required: true %>
  <hr />
  <%= f.input :resting_hr, label: 'Resting Heart Rate (bpm)', required: true %>
  <hr />
  <%= link_to 'Previous', previous_wizard_path, class: 'btn btn-primary' %>
  <%= f.submit 'Next', class: 'btn btn-success pull-right' %>
<% end %>
