<% breadcrumb :employee_check, @location %>

<%= render 'shared/progress' %>
<%= simple_form_for @employee_check, url: wizard_path do |f| %>
  <%= f.error_notification %>
  <%= f.input :test_type, label: 'Test Type', as: :radio_buttons, collection: [['Fasting', :fasting], ['Non-fasting', :non_fasting]], required: true %>
  <%= f.input :blood_sugar, label: 'Blood Sugar (mmol/L)', required: true %>
  <hr />  
  <%= link_to 'Previous', previous_wizard_path, class: 'btn btn-primary' %>
  <%= f.submit 'Next', class: 'btn btn-success pull-right' %>
<% end %>
