<% breadcrumb :employee_check, @location %>
<% content_for :head do %>
  <style>
    <%= show_hide_metric_imperial(@employee_check) %>
  </style>
<% end %>

<%= render 'shared/progress' %>
<div class="row">
  <div class="col-md-12">
<%= simple_form_for @employee_check, url: wizard_path do |f| %>
  <%= f.error_notification %>
  <%= f.input :metric_imperial, as: :radio_buttons, collection: [['Metric', :metric], ['Imperial', :imperial]], required: true %>
  <hr />
  <div class="metric_imperial employee_check_metric_imperial_metric">
    <%= f.input :height_cm, label: 'Height (cm)', required: true %>
    <%= f.input :weight_kg, label: 'Weight (kg)', required: true %>  
  </div>
  <div class="metric_imperial employee_check_metric_imperial_imperial">
    <div class="row">
      <div class="col-md-6">
        <%= f.input :height_feet, label: 'Height (ft)', required: true %>
      </div>
      <div class="col-md-6">
        <%= f.input :height_inches, label: 'Height (inch)', required: true %>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">  
        <%= f.input :weight_stone, label: 'Weight (st)', required: true %>
      </div>
      <div class="col-md-6">      
        <%= f.input :weight_lbs, label: 'Weight (lbs)', required: true %>
      </div>
    </div> 
  </div>
  <hr /> 
  <%= f.input :body_fat, label: 'Body Fat (%)' %>
  <%= f.input :water, label: 'Water (%)' %>
  <%= f.input :visceral_fat, label: 'Visceral Fat (%)' %>
  <%= f.input :basal_metabolic_rate, label: 'Basel Metabolic Rate (Calories)' %>
  <%= f.input :waist_circumference, label: 'Waist Circumference (cm)' %>
  <hr />
  <%= link_to 'Previous', previous_wizard_path, class: 'btn btn-primary' %>
  <%= f.submit 'Next', class: 'btn btn-success pull-right' %>
<% end %>
  </div>
</div>
