<% breadcrumb :employee_check, @location %>

<%= render 'shared/progress' %>
<%= simple_form_for @employee_check, url: wizard_path do |f| %>
  <%= f.error_notification %>
  <%= f.input :total_cholesterol, label: 'Total Cholesterol (mmol/L)' %>
  <%= f.input :triglycerides, label: 'Triglycerides (mmol/L)' %>
  <%= f.input :hdl_cholesterol, label: 'HDL Cholesterol (mmol/L)' %>
  <%= f.input :ldl_cholesterol, label: 'LDL Cholesterol (mmol/L)' %>
  <%= f.input :td_hdl_ratio, label: 'TC/HDL Ratio (mmol/L)' %>
  <hr />  
  <%= link_to 'Previous', previous_wizard_path, class: 'btn btn-primary' %>
  <%= f.submit 'Next', class: 'btn btn-success pull-right' %>
<% end %>
