<% breadcrumb :employee_check, @location %>

<%= render 'shared/progress' %>
<%= simple_form_for @employee_check, url: wizard_path do |f| %>
<div class="row">
  <div class="col-md-12">
    <h1>Fact Sheets</h1>
    <% @fact_sheet_categories.each do |fsc| %>
      <h2><%= fsc.title %></h2>
      <%= f.association :fact_sheets, as: :check_boxes, collection: fsc.fact_sheets, label: false %>
    <% end %>
    </div>
</div>

<div class="row">
  <div class="col-md-12">
    <%= link_to 'Previous', previous_wizard_path, class: 'btn btn-primary' %>
    <%= f.submit 'Finish', class: 'btn btn-success pull-right' %> 
  </div>
</div>

<% end %>

