<% breadcrumb :employee_check, @location %>

<%= render 'shared/progress' %>

<%= simple_form_for @employee_check, url: wizard_path do |f| %>
  
  <%= render 'employee_check_steps/summaries/body_composition', f: f if is_step_set?(:body_composition) %>
  <%= render 'employee_check_steps/summaries/blood_pressure', f: f if is_step_set?(:blood_pressure) %>
  <%= render 'employee_check_steps/summaries/cholesterol', f: f if is_step_set?(:cholesterol) %>
  <%= render 'employee_check_steps/summaries/blood_sugar', f: f if is_step_set?(:blood_sugar) %>

  <div class="row">
    <div class="col-md-12">
      <hr />    
      <%= link_to 'Previous', previous_wizard_path, class: 'btn btn-primary' %>
      <%= f.submit 'Next', class: 'btn btn-success pull-right' %> 
    </div>
  </div>

<% end %>

