<p>Welcome to your health assessment report and congratulations on taking your first steps to better health and an improved healthy lifestyle.</p>
<p>Please find attached your personal report for you to keep and as a reminder of the goals you discussed with your health leader.</p>
<p>It's really helpful to set a date in 30-60 days time to review your progress.</p>
<p>Let us know if we can help<br />
The Let's Get Healthy Team</p>
