<div class="progress">
  <div class="progress-bar" role="progressbar" aria-valuenow="<%= @percentage_completed %>" aria-valuemin="0" aria-valuemax="100" style="width: <%= @percentage_completed %>%;">
    Step <%= @current_step %> of <%= @total_steps.to_i %>
  </div>
</div>
