<%= render 'shared/progress' %>
<div class="row">
  <div class="col-md-12">
<%= simple_form_for [@location, @employee_check] do |f| %>
  <%= f.input :first_name %>
  <%= f.input :last_name %>
  <%= f.input :email %>  
  <%= f.input :gender, as: :radio_buttons, collection: [['Male', :male], ['Female', :female]] %>
  <label>Date of birth</label>
  <div class="form-inline">
    <%= f.input :date_of_birth, as: :date, order: [:day, :month, :year], start_year: Date.today.year - 18, end_year: Date.today.year - 100, label: false %>
  </div>
  <hr />
  <%= link_to 'Cancel', location_employee_checks_path(@location), class: 'btn btn-primary' %>
  <%= f.submit 'Next', class: 'btn btn-success pull-right' %>
<% end %>
  </div>
</div>
