<% breadcrumb :employee_checks, @location %>
<div class="row">
  <div class="col-md-12">
    <h1>Employee Checks</h1>
  </div>
</div>
<div class="clearfix">&nbsp;</div>
<div class="row">
  <div class="col-md-12">  
    <%= link_to 'New Employee Check', new_location_employee_check_path(@location), class: 'btn btn-success' %>
  </div>
</div>
<div class="clearfix">&nbsp;</div>
<div class="row">
  <div class="col-md-12">  
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Employee Email</th>
          <th>Department</th>
          <th>Created</th>
          <th colspan='2'></th>
        </tr>
      </thead>
      <tbody>
      <% @employee_checks.each do |e| %>
        <tr>
          <td><%= e.email %></td>
          <td><% if e.department %><%= e.department.name %><% end %></td>
          <td><%= e.created_at.to_formatted_s(:long_ordinal) %></td>
          <td><%= link_to 'Edit', edit_location_employee_check_path(@location, e) %></td>
          <td><%= link_to 'Delete', location_employee_check_path(@location, e), method: 'delete', data: {confirm: "Confirm delete?"} %></td>
        </tr>
      <% end %>
      </tbody>
    </table>
  </div>
</div>
