// Place all the styles related to the employee_checks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.progress {
  height: 25px;

  .progress-bar {
    line-weight: 25px;
    font-size: 13px;
  }
}
