<!DOCTYPE html>
<html>
<head>
  <title>Tiger Healthcheck</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <%= yield :head %>
</head>
<body>

<%= render 'shared/nav' %>

<div class="container">
  <%= render 'shared/flash' %>

  <%= breadcrumbs style: :bootstrap  %>

  <%= yield %>
</div>

</body>
</html>
